<div class="col text-center">
  <img src="../assets/img/img/{{ intentos }}.png" class="ahorcado-img" />
  <h1>
    Intentos <small>{{ intentos }}/9</small>
  </h1>
</div>

<div class="col text-center">
  <h1>{{ palabraOculta }}</h1>
</div>

<div class="col text-center" *ngIf="gano">
  <h1>Felicidades ganaste!!!</h1>
  <h4>:D</h4>
</div>

<div class="col text-center" *ngIf="perdio">
  <h1>Losiento, perdiste :(</h1>
  <h4>{{ palabra }}</h4>
</div>

<div class="col text-center" *ngIf="!gano && !perdio">
  <button
    (click)="comprobar(letra)"
    *ngFor="let letra of letras"
    class="btn btn-primary"
  >
    {{ letra }}
  </button>
</div>
